.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.input {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

input {
  width: 500px;
  height: 25px;
}

h4 {
  display: flex;
}

button {
  margin-left: 10px;
}
